<footer id="footer" role="contentinfo">
    <section class="footer-body">
        <ul id="aui-footer-list">
            <li>Made with <i class="fa fa-heart" aria-hidden="true"></i></li>
            <li><a href="/license.html">License</a></li>
            <li><a href="/changelog.html">Changelog</a></li>
            <li><a href="https://www.moewe.io/en/impressum/">Imprint</a></li>
        </ul>
        <p>Some links are affiliate links. Please support future development using them.</p>
        <div id="moewe-footer-logo"><a href="https://www.moewe.io">
            <img src="/assets/images/moewe_logo.png" alt="Logo MOEWE GbR"/></a>
        </div>
    </section>
</footer>
