---
---
<nav class="aui-navgroup aui-navgroup-vertical">
    <div class="aui-navgroup-inner">
        <div class="aui-nav-heading">
            <strong>Documentation</strong>
        </div>
        <ul resolved="" class="aui-nav">
            {% for doc in site.docs %}
            <li>
                <a class="post-link" href="{{ doc.url | prepend: site.baseurl }}">{{ doc.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="aui-nav-heading">
            <strong>Dummy-Links</strong>
        </div>
    </div>
</nav>