.favpress-metabox *, .favpress-metabox *:before, .favpress-metabox *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.favpress-metabox .favpress-hide {
  position: absolute !important;
  border: 0;
  clip: rect(0 0 0 0);
  height: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 0 !important; }

.favpress-metabox img {
  max-width: 100%;
  vertical-align: bottom; }

.favpress-metabox .favpress-button {
  height: 30px;
  line-height: 28px;
  margin: 0;
  padding: 0 12px; }

.favpress-metabox-error {
  background: url("../img/favpress-sprite.png") no-repeat 0px -240px;
  margin-right: 5px;
  margin-left: 5px;
  *display: inline;
  *zoom: 1;
  display: inline-block;
  height: 14px;
  width: 14px;
  vertical-align: middle;
  float: left; }

.favpress-metabox .favpress-field {
  display: table;
  table-layout: fixed;
  width: 100%; }

.favpress-metabox .favpress-field .label {
  display: table-cell;
  padding: 10px 20px;
  vertical-align: top;
  width: 20%; }

#postbox-container-1 .favpress-metabox .favpress-field, #postbox-container-1 .favpress-metabox .favpress-field .label, #postbox-container-1 .favpress-metabox .favpress-field .field {
  display: block;
  width: auto; }

#postbox-container-1 .favpress-metabox .favpress-field {
  margin: 15px 0; }

#postbox-container-1 .favpress-metabox .favpress-field .label {
  margin-bottom: 3px; }

#postbox-container-1 .favpress-metabox .favpress-field .label, #postbox-container-1 .favpress-metabox .favpress-field .field {
  padding: 0 10px; }

#postbox-container-1 .favpress-metabox .favpress-field .label label {
  margin: 0; }

#postbox-container-1 .favpress-metabox .favpress-wpa-loop {
  padding: 10px 0; }

.favpress-metabox .favpress-field .label label {
  cursor: default;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.4em;
  margin: 6px 0 4px;
  display: block; }

.favpress-metabox .favpress-field .description {
  font-size: 0.9em;
  color: #999999;
  line-height: 1.3em; }

.favpress-metabox .favpress-field .description p {
  margin: 0; }

.favpress-metabox .favpress-field .field {
  display: table-cell;
  padding: 10px 20px;
  width: 80%;
  position: relative; }

.favpress-metabox .favpress-field .field .validation-msgs ul {
  margin: 0; }

.favpress-metabox .favpress-field .field .input img {
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  border-radius: 3px;
  padding: 3px; }

.favpress-metabox .favpress-field .field .input {
  position: relative; }

.favpress-metabox .favpress-field.favpress-error {
  background-color: #fbf1f1; }

.favpress-metabox .favpress-field .validation-msgs {
  color: #cc0000;
  font-weight: bold; }

.favpress-metabox .favpress-field .validation-msgs li {
  margin: 5px 0 0; }

.favpress-metabox .favpress-wpa-loop {
  border-radius: 3px;
  padding: 10px;
  /*margin-top:  10px;
     */ }

.favpress-metabox .favpress-wpa-loop h4 {
  color: #999999;
  margin: 10px 0 10px;
  padding: 0 10px; }

.favpress-metabox .favpress-wpa-loop .favpress-wpa-group {
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden; }

.favpress-metabox .favpress-wpa-loop .favpress-wpa-group .favpress-controls {
  padding-top: 10px;
  display: inline-block;
  width: 100%;
  position: relative; }

.favpress-metabox .favpress-wpa-loop .favpress-wpa-group .favpress-controls .favpress-field .label {
  padding: 12px 10px; }

.favpress-metabox .favpress-wpa-loop .favpress-wpa-group .favpress-controls .favpress-field .field {
  padding: 10px 10px 10px 20px; }

.favpress-metabox .favpress-wpa-loop .favpress-wpa-group .favpress-wpa-group-heading .favpress-wpa-group-title {
  display: block; }

.favpress-metabox .favpress-wpa-loop .favpress-wpa-group .favpress-wpa-group-heading {
  background-color: #f1f1f1;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 30px;
  padding: 0 10px;
  margin-bottom: -1px; }
  .favpress-metabox .favpress-wpa-loop .favpress-wpa-group .favpress-wpa-group-heading:hover {
    background-color: #e1e1e1; }

.favpress-metabox .favpress-wpa-loop.favpress-repeating-loop .favpress-wpa-group .favpress-wpa-group-heading {
  padding-right: 80px; }

.favpress-metabox .favpress-wpa-loop .favpress-wpa-group .favpress-wpa-group-heading a {
  text-decoration: none; }

.favpress-metabox .favpress-wpa-loop .favpress-wpa-group .favpress-wpa-group-remove {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 10px; }

.favpress-metabox .favpress-wpa-loop .favpress-wpa-group .favpress-wpa-group-remove a:hover {
  color: #990000; }

.favpress-metabox .favpress-wpa-loop .favpress-wpa-group-add {
  margin-bottom: 8px; }

.favpress-metabox .favpress-wpa-loop .favpress-wpa-group-add > a {
  display: block;
  text-align: center; }

.favpress-metabox .favpress-textbox .field input[type="text"], .favpress-metabox .favpress-slider .field input[type="text"], .favpress-metabox .favpress-upload .field input[type="text"], .favpress-metabox .favpress-date .field input[type="text"], .favpress-metabox .favpress-textarea .field textarea, .favpress-metabox .favpress-color .field input[type="text"] {
  border-color: #cccccc;
  padding: 6px 10px;
  margin: 0;
  border-radius: 3px; }

.favpress-metabox .favpress-textbox .field input[type="text"], .favpress-metabox .favpress-upload .field input[type="text"], .favpress-metabox .favpress-textarea .field textarea {
  width: 100%; }

/* CHECKBOX & RADIOBUTTON & TOGGLE */
.favpress-metabox .favpress-checkbox .input label, .favpress-metabox .favpress-radiobutton .input label {
  margin-right: 20px; }

.favpress-metabox .favpress-checkbox .input label input, .favpress-metabox .favpress-radiobutton .input label input {
  margin-right: 3px; }

.favpress-metabox .favpress-toggle .field .input label, .favpress-metabox .favpress-checkbox .field .input label, .favpress-metabox .favpress-radiobutton .field .input label {
  *display: inline;
  *zoom: 1;
  display: inline-block;
  margin-top: 6px;
  line-height: 1.4em; }

/* UPLOAD */
.favpress-metabox .favpress-upload .input {
  padding-right: 130px; }

.favpress-metabox .favpress-upload .buttons {
  position: absolute;
  top: 0;
  right: 0; }

.favpress-metabox .favpress-upload .image {
  max-width: 300px; }

.favpress-metabox .favpress-upload .field .image {
  line-height: 0; }

.favpress-metabox .favpress-upload .field .image img {
  margin-top: 10px; }

.favpress-metabox .favpress-upload .field .image img[src=""] {
  display: none; }

/* CHECKIMAGE & RADIOIMAGE */
.favpress-metabox .favpress-checkimage .input label, .favpress-metabox .favpress-radioimage .input label {
  *display: inline;
  *zoom: 1;
  display: inline-block;
  margin: 5px;
  vertical-align: top; }

.favpress-metabox .favpress-checkimage label input, .favpress-metabox .favpress-radioimage label input {
  display: none; }

/* elt ie8 style */
.favpress-metabox .favpress-checkimage .field input:checked ~ img, .favpress-metabox .favpress-radioimage .field input:checked ~ img, .favpress-metabox .favpress-checkimage .field input.checked ~ img, .favpress-metabox .favpress-radioimage .field input.checked ~ img {
  border-color: #278ab7;
  background-color: #278ab7; }

/* COLOR */
.favpress-metabox .favpress-color .field input[type="text"] {
  padding-left: 30px; }

.favpress-metabox .favpress-color .field label {
  background-image: url("../img/favpress-sprite.png");
  background-position: 0 -140px;
  display: block;
  height: 20px;
  left: 0;
  margin: 5px;
  position: absolute;
  top: 0;
  width: 20px; }

.favpress-metabox .favpress-color .field label span {
  display: block;
  height: 100%;
  width: 100%; }

/* SLIDER */
.favpress-metabox .favpress-slider .input {
  padding: 10px 80px 10px 0; }

.favpress-metabox .favpress-slider .input .slidebar {
  width: 100%; }

.favpress-metabox .favpress-slider .input .slideinput {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  margin-top: -5px; }

/* SELECT & FONTAWESOME */
.favpress-metabox .favpress-select .field .input a, .favpress-metabox .favpress-fontawesome .field .input a {
  height: 30px;
  border-radius: 3px;
  border: 1px solid #cccccc; }

.favpress-metabox .favpress-select .field .input a div, .favpress-metabox .favpress-fontawesome .field .inpu a div {
  border-left-color: #cccccc; }

.favpress-metabox .favpress-select .field .input .select2-dropdown-open a, .favpress-metabox .favpress-fontawesome .field .input .select2-dropdown-open a {
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); }

.favpress-metabox .favpress-select .field .input .select2-dropdown-open.select2-drop-above a, .favpress-metabox .favpress-fontawesome .field .input .select2-dropdown-open.select2-drop-above a {
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15); }

/* SORTER & MULTISELECT */
.favpress-metabox .favpress-multiselect .search-field input, .favpress-metabox .favpress-sorter .search-field input {
  height: auto; }

.favpress-metabox .favpress-sorter .field .input li {
  display: block;
  float: none;
  margin: 3px 5px;
  height: 22px; }

.favpress-metabox .favpress-sorter .field .input ul, .favpress-metabox .favpress-multiselect .field .input ul {
  border-radius: 3px;
  border: 1px solid #cccccc; }

.favpress-metabox .favpress-multiselect .field .input .select2-dropdown-open ul, .favpress-metabox .favpress-sorter .field .input .select2-dropdown-open ul {
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); }

.favpress-metabox .favpress-multiselect .field .input .select2-dropdown-open.select2-drop-above ul, .favpress-metabox .favpress-sorter .field .input .select2-dropdown-open.select2-drop-above ul {
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15); }

/* TEXTAREA */
.favpress-metabox .favpress-textarea textarea {
  width: 100%;
  -webkit-resize: vertical;
  -moz-resize: vertical;
  resize: vertical;
  min-height: 100px;
  max-height: 200px; }

/* WP TinyMCE Editor */
.favpress-metabox .favpress-wpeditor .label, .favpress-metabox .favpress-wpeditor .field {
  display: block;
  padding: 0px 10px !important;
  width: 100%; }

.favpress-metabox .customEditor {
  margin: 15px 0px; }

.favpress-metabox .customEditor textarea {
  width: 100%;
  margin: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.favpress-metabox .custom_upload_buttons a {
  text-decoration: none; }

.favpress-metabox .wp_themeSkin table.mceLayout {
  background: white;
  border-width: 1px;
  border-style: solid;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-color: #CCC #CCC #DFDFDF; }

.favpress-metabox .mceLayout span {
  display: inline; }

.favpress-metabox .customEditor * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box; }

.favpress-metabox .favpress-wpeditor .field .customEditor .mceIcon img {
  border-width: 0;
  padding: 0; }

/* HTML PREVIEW */
.favpress-metabox .favpress-html .field .input {
  overflow: auto; }

.favpress-metabox .favpress-html .field .favpress-field-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  text-align: center;
  top: 0; }

.favpress-metabox .favpress-wpa-loop .favpress-html .field .favpress-field-loader {
  background-color: #ffffff; }

.favpress-metabox .favpress-html .field .favpress-field-loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -8px; }

/**
 * Notebox styling
 * (normal, warning, info, error, success)
 */
.favpress-metabox .favpress-field.favpress-notebox {
  border: 1px solid;
  border-radius: 3px;
  display: block;
  padding: 10px 20px 10px 55px;
  position: relative;
  margin: 10px 0;
  min-height: 50px;
  width: auto; }

.favpress-metabox .favpress-field.favpress-notebox > i {
  display: block;
  font-size: 30px;
  line-height: 1em;
  left: 0;
  margin: 9px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px; }

.favpress-metabox .favpress-field.favpress-notebox > .label {
  display: block;
  width: auto;
  padding: 0 !important;
  font-weight: bold; }

.favpress-metabox .favpress-field.favpress-notebox > .description {
  padding: 0;
  color: inherit; }

.favpress-metabox .favpress-field.favpress-notebox > .description p {
  margin: 0; }

.favpress-metabox .favpress-field.favpress-notebox.note-normal {
  background-color: #eeeeee;
  border-color: #cccccc;
  color: #666666; }

.favpress-metabox .favpress-field.favpress-notebox.note-info {
  background-color: #d1e4f3;
  border-color: #a8b6c1;
  color: #5881a1; }

.favpress-metabox .favpress-field.favpress-notebox.note-success {
  background-color: #c4ec94;
  border-color: #70ad60;
  color: #4d751c; }

.favpress-metabox .favpress-field.favpress-notebox.note-warning {
  background-color: #fee9a6;
  border-color: #d9c183;
  color: #978138; }

.favpress-metabox .favpress-field.favpress-notebox.note-error {
  background-color: #ffa2a3;
  border-color: #bc515b;
  color: #9c1825; }

.favpress-metabox .favpress-wpa-group .favpress-field.favpress-notebox {
  margin: 10px 10px; }

/**
 * Code Editor styling
 */
.ace_editor {
  border: 1px solid #dddddd;
  border-radius: 3px;
  height: 200px; }

/* Extension
 * ==================================================== */
/* jQuery UI Datepicker bottom div bug */
#ui-datepicker-div {
  display: none; }

/* jQuery UI widget overlay glitch */
.ui-widget-overlay {
  background-repeat: repeat; }

/* Bootstrap Colorpicker */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  border-radius: 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box; }

/* fontawesome chooser + select2 width */
.select2-container .fontawesome, .select2-result-label .fontawesome {
  font-size: 12px;
  vertical-align: middle; }

.select2-container .fontawesome i, .select2-result-label .fontawesome i {
  font-size: 14px;
  margin-right: 8px; }

.select2-container {
  width: 100%; }

.select2-drop {
  border-color: #cccccc;
  padding-top: 10px;
  margin-top: -2px; }

.select2-drop.select2-drop-above {
  margin-top: 4px;
  padding-top: 0;
  padding-bottom: 10px;
  border-top-color: #cccccc; }

.select2-drop input {
  border-color: #cccccc; }

.select2-results .select2-highlighted {
  background: #278ab7; }

/*# sourceMappingURL=metabox.css.map */
